{{> head }}
    {{> navbar }}
    <div class="container">
        <div class='row'>
            <div class='col-8 panel'>
                <H1>CR7</H1>
            </div>
            <div class='col-4 panel'>
                <img src="assets/img/cr7.jpg" class='img-rounded' width="350px">
            </div>
        </div>
    </div>
{{> footer }}

